@import "tailwindcss";

@theme {
  /* colors */
  --color-oled-dark: #020202;
  --color-border-grey: #212121;

  /* borders */
  --border-general: 1px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  background: #000;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(135deg, #000000, #020202, #000000);
  background-size: 100% 100%;
}
